* {
  box-sizing: border-box;
}

html {
  font-family: OpenSansCondensed, Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  width: inherit;
  min-height: 100%;
}

button {
  background-color: transparent;
  border: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
p {
  font-size: inherit;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
button {
  padding:0;
  color: inherit;
  cursor: pointer;
}
input {
  border: 0;
  color: inherit;
  padding: 10px;
}
:focus {
  outline: 0;
}
img {
  width: 100%;
}
