.add-server-modal {

  .wrapper {
    height: 100%;
  }
  .modal-content {
    padding: 20px;
    position: relative;
    background-color: white;
    border-radius: 5px;
    min-width: 440px;
    width: 440px;
    height: 390px;
    flex-direction: column;
    z-index: 1;
    .close-btn {
      position: absolute;
      top: 0;
      right: 0;
      margin: 20px;
      color: #4f5660;
      transition: opacity 0.2s ease-in-out;
      opacity: 0.5;
      cursor: pointer;
      &:hover {
        color: #2e3338;
        opacity: 1;
      }
    }
    .modal-opt-btn {
      margin-top: 75px;
      padding: 20px;
      width: 90%;
      border-radius: 7px;
      font-size: 16px;
      color: #060607;
      border: 1px solid rgba(211, 211, 211, 0.582);
    }
    .primary-header {
      font-size: 24px;
      line-height: 30px;
    }
    .header-p {
      text-align: center;
      padding: 10px;
      margin-bottom: 24px;
    }
    #file-input {
      position: absolute;
      z-index: -1;
      top: -5000px;
      left: -5000px;
    }
    label[for="file-input"] {
      cursor: pointer;
    }
    .img-preview {
      border-radius: 50%;
      width: 80px;
      height: 80px;
      .img-container {
        border-radius: inherit;
        width: 100%;
        height: 100%;
        @include aspect-ratio(1, 1);
      }
    }
    .text-input-title {
      width: 100%;
      padding: 10px 0px 10px 0px;
      color: #6a7480;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    .server-name-input,
    .invite-link-input {
      width: 100%;
      border: 1px solid lightgrey;
      font-size: 16px;
      border-radius: 3px;
      color: #2e3338;
      font-weight: 500;
      margin-bottom: 16px;
    }
    .examples {
      text-align: left;
      width: 100%;
    }
    .form-controls {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 16px;
      min-height: 38px;
      background-color: #f6f6f7;
      border-radius: 0 0 5px 5px;
      .submit-btn {
        background-color: $logo-primary;
        color: #fff;
        border-radius: 5px;
        min-width: 96px;
        min-height: 38px;
      }
    }
  }

}
